<footer>
    <div class="footer-content">
        <p><strong>Address:</strong> Ground Floor, Kailash Building, Near Bhave Tower, Thane, Maharashtra 400602</p>
        <p><strong>Email:</strong> <a href="mailto:smartech.009@gmail.com"
                style="color: inherit; text-decoration: underline;">smartech.009@gmail.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:+919221204466" style="color: inherit; text-decoration: underline;">+91
                9221204466</a> / <a href="tel:+917506513784"
                style="color: inherit; text-decoration: underline;">7506513784</a></p>
    </div>
    <p class="copyright-line">&copy; 2026 SmarTech Solutions. All Rights Reserved.</p>
</footer>